<section class="layout-container" [class.is-mobile]="mobileQuery.matches">
  <header>
    <app-toolbar [sidenav]="sidenav"></app-toolbar>
  </header>

  <mat-sidenav-container class="sidenav-container">

    <mat-sidenav #sidenav [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [position]="'end'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <aside>
        <!-- cart projected here -->
        <ng-content></ng-content>
      </aside>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="content">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</section>
