header {

  h1, button.cart-icon {
    margin-left: 20px;
    margin-right: 20px;
  }

  h1 {
    font-size: 22pt;
  }

  button.cart-icon {
    position: absolute;
    right: 0;
    top: 10px;
  }
}

